data/marcas_oponibles.parquet filter=lfs diff=lfs merge=lfs -text
uploads/*.jpg filter=lfs diff=lfs merge=lfs -text
frontend/public/uploads/*.jpg filter=lfs diff=lfs merge=lfs -text
frontend/claseniza_y_coberturas/*.csv filter=lfs diff=lfs merge=lfs -text
frontend/public/data/*.json filter=lfs diff=lfs merge=lfs -text
